.product-form{
    width: 20 rem;
    max-width: 90%;
    margin: auto;
}

.form-control{
    margin: 1rem 0;
}

.form-control input,
.form-control label{
    display: block;
    width: 100%;
}

.form-control input{
    border: 1px solid #e7e2e2;
    font: inherit;
    color: black;
    border-radius: 2px;
   
}

button{
    border: 1px solid #f54ff5;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 2px;
}
 button:hover,
 button:active{
     background-color: #e231e2;
     color: white;
 }